/** @format */

body {
  background-color: #cfd3ce;
}

/*SELECTORS
--------------------------------------TAG Selctors---------------------------------------------

h1{
    background-color:  color;
}
img:hover{
    background-color:  color;
}

*--------------------------------------Class Selctors-------------------------------------------

.classname{
    background-color:  color;
}

/*--------------------------------------ID Selctors----------------------------------------------

#IDname{
    background-color:  color;
}

*/
