/** @format */

body {
  background-color: #bce6eb;
}
h1 {
  color: black;
}
h2 {
  color: #fdcfdf;
}
h3 {
  color: yellow;
}

/* SELECTORS
--------------------------------------TAG Selctors---------------------------------------------

h1{
    background-color:  color;
}
img:hover{
    background-color:  color;
}

*--------------------------------------Class Selctors-------------------------------------------

.classname{
    background-color:  color;
}

/*--------------------------------------ID Selctors----------------------------------------------

#IDname{
    background-color:  color;
}

 */
